APP_PORT=8080

DB_HOST=localhost
DB_PORT=55432
DB_NAME=job_application_tracker
DB_USER=job_tracker_user
DB_PASSWORD=change_me_strong_password

MINIO_ENABLED=true
MINIO_ENDPOINT=http://localhost:9000
MINIO_ACCESS_KEY=change_me_minio_access_key
MINIO_SECRET_KEY=change_me_minio_secret_key
MINIO_BUCKET=job-application-tracker
